/** category visualization */

#lineas {
   line-width: 2;
   line-opacity: 0.7;
}
#lineas [zoom > 12]{
   line-width: 3.5;
}
#lineas [zoom > 13]{
   line-width: 4.5;
}
#lineas [zoom > 14]{
   line-width: 5.5;
}
#lineas[orig_sf="lin_colectivos"] {
   line-color: #FF6600;
}
#lineas[orig_sf="lin_ffcc"] {
   line-color: #B40903;
}
#lineas[orig_sf="lin_metrobus"] {
   line-color: #6B0FB2;
}
#lineas[orig_sf="lin_sub_prem"] {
   line-color: #2167AB;
}
#lineas[orig_sf="lin_subte"] {
   line-color: #2167AB;
}



