html,
body,
#map {
    height: 100%;
    padding: 0;
    margin: 0;
}

#panel-transporte {
    position: fixed;
    bottom: 40px;
    left: 5px;
    z-index: 2;
}

#capas-transporte {
    width: 220px;
    z-index: 99;
}

#main-panel {
    position: fixed;
    top: 100px;
    right: 20px;
    max-height: calc(95% - 100px);
    max-width: 33%;
}

#tag-list-divisiones {
    width: 250px;
}

#buffer-size,
#buffer-modo-transporte {
    float: left;
}

#panel-indicadores,
#panel-indicadores-select {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    width: 400px;
    height: 500px;
    margin: -250px 0 0 -200px;
    z-index: 3;
}

#main-panel {
    z-index: 2;
}

.panel-body {
    height: 450px;
}

.fixed-panel {
    overflow-y: scroll;
}

.div-infowindow {
    display: none;
}

#download-image {
    position: fixed;
    bottom: 10px;
    left: 50%;
}

#button-download-image {
    width: 130px;
    margin: 0 0 0 -65px;
}

.left {
    float: left;
}

.right {
    float: right;
}

#wrapper {
    height: 20px;
}

#indicadores-seleccionados {
    margin-top: 0px!important;
}

#panel-indicadores-seleccionados {
    display: none;
}

div.cartodb-legend,
div.cartodb-legend ul li {
    color: #D3D3D3;
}

#map .cartodb-legend-stack {
    display: none;
    position: absolute;
    left: 5px;
    max-width: 300px;
    bottom: 90px;
    background: rgba(58, 58, 48, 0.4);
    padding: 2px;
    z-index: 1;
}
