html,
body,
#map {
    height: 100%;
    padding: 0;
    margin: 0;
}

#panel-transporte {
    position: fixed;
    bottom: 40px;
    left: 0;
}

#capas-transporte {
    width: 220px;
}

#main-panel {
    position: fixed;
    top: 100px;
    right: 20px;
}

#tag-list-divisiones {
    width: 250px;
}

#buffer-size, #buffer-modo-transporte {
    float: left;
}

#panel-indicadores {
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    margin:-250px 0 0 -250px;
}

.panel-body {
    height: 450px;
}

.fixed-panel {
    overflow-y:scroll;
}

.div-infowindow {
    display:none;
}

#download-image {
    position: fixed;
    bottom: 10px;
    left: 50%;
}

#button-download-image {
    width: 130px;
    margin:0 0 0 -65px;
}

